.cont-Contacto{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background: white;
    margin-bottom: 0%;
}

.cont-titulo-Contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-Contacto{
    margin: 50px 0px 10px 0px;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.texto-contactar{
    font-family: 'Raleway', sans-serif;
    padding: 3.5px 0px;
    font-weight: 400;
}

.cont-formulario-contacto{
    display: flex;
    justify-content: center;
    width: 100%;
    height:fit-content;

    background: url(/Portafolio_AngG/imagenes/fondo_contacto.png);
    background-position:center ;
    background-size:cover;
    background-repeat: no-repeat;
}

.formulario-de-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuerpo-formulario-contacto{
    width: 520px;
    height:  500px;
    margin: 40px 0px;
    padding: 30px;

    background: rgba(255, 255, 255);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.fila-contacto{
    display: flex;
    margin: 0px 0px 20px 0px;
}

.columna-contacto{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titulo-label-contacto{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0px 4px 0px;
}

.inputs-formulario{
    border: transparent;
    border-bottom: solid 3px #000000;
    width: 200px;
    padding: 10px;
    font-size: 15px;
}

.inputs-formulario:focus{
    border: transparent;
    border-bottom: solid 3px #22DCBA;
    outline: none;
}

.inputs-formulario-mensaje{
    width: 100%;
    height: 195px;
    margin-top: 10px;
    padding: 10px;

    border: solid 2px #000000;
    border-radius: 20px;
    font-size: 15px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    resize: none;
}

.inputs-formulario-mensaje:focus{
    border: solid 3px #22DCBA;
    outline: none;
}

.btn-enviar-formulario{
    width: 220px;
    height: 50px;
    margin-bottom: 50px;

    background: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: solid 3px black;
    transition: 1s;
}

.alerta-caracteres{
    align-items: center;
    font-size: 14px;
}


.btn-enviar-formulario:hover{
    transform: scale(1.05);
}