.cont-Formacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 810px;
    padding-top: 120px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 16.67%, rgba(179, 24, 80, 0.7) 82%);
    justify-content: flex-end;
    margin-bottom: 0%;
}

.cont-titulo-Formacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-formacion{
    margin: 40px 0px 10px 0px;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cont-card-formacion{
    display: flex;
    justify-content: space-between;

    height: 700px;
    width: 100%;
    padding: 60px 160px;

    background: url("/Portafolio_AngG/imagenes/fondo_blanco_formacion.png");
    background-position: bottom;
    background-repeat: no-repeat;

}

.cont-divisor{
    display: flex;
    justify-content: center;
    justify-items: center;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
}

.divisor-colorido{
    width: 1200px;
    height: 8px;
    background:linear-gradient(260.15deg, #22DCBA 21.06%, #FFE458 47.37%, #E11E64 83.63%);
    margin: 0%;
    border-radius: 40px;
    border: transparent;
}


.borde-color-formacion{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    width: 300px;
    height: 350px;
    border-radius: 25px;
    background: linear-gradient(357.72deg, #E11E64 -9.45%, #FFE458 46.08%, #22DCBA 98.26%);
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.25);
}

.formacion-del-medio{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0%;
    width: 330px;
    height: 400px;
    border-radius: 25px;
    background: linear-gradient(357.72deg, #E11E64 -9.45%, #FFE458 46.08%, #22DCBA 98.26%);
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.25);
}

.cuerpo-formacion{
    width: 280px;
    height: 330px;
    border-radius: 18px;
    background: white;

}

.cuerpo-formacion-del-medio{
    width: 310px;
    height: 380px;
    border-radius: 20px;
    background: white;
}

.img-formacion{
    width: 100%;
    height: 156px;
}

.img-formacion-del-medio{
    width: 100%;
    height: 200px;
}

.descripcion-formacion{
    padding: 20px;
}

.mini-titulo-formacion{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.subtitulo-formación{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
}

.icon-lugar-formacion{
    width: 23px;
    height: 22px;
    margin-top: 8px;
}

.nombre-lugar-formacion, .estado-formacion{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    padding-top: 5px;
}
