.cont-logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 30%;
}

.logo-img{
    width: 40px;
    height: 26px;
}

.logo-titulo{
    margin: 3px 0px 0px 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.icono-menu{
    display: none;
}

.cont-menu-principal{
    display: flex;
    justify-content: end;
    width: 70%;
}

.list-menu-principal{
    display: flex;
}

.icons-items-principal{
    display: none;
}

.item{
    margin: 0% 15px;
    letter-spacing: 0.6px;
    font-family: 'Raleway', sans-serif;
    font-weight:lighter;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    letter-spacing: 0px;
    color: #E11E64;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.cont-portada{
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: center;
    align-items: center;


    background: black;
}


.titulo-portada{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

p{
    width: 50%;
    margin: 1%;
}

.titulo{
    color: rgb(255, 255, 255);
    font-size: 76px;
    font-family: 'Raleway', sans-serif;
}

.letra-celeste{
    color: #22DCBA;
}

.letra-fucsia{
    color: #E11E64;
}

.letra-amarilla{
    color: #FFE458;
}

h3{
    padding: 0% 30px;
    color: antiquewhite;
    font-weight: normal;
    font-family: 'Rasa', serif;
    letter-spacing: 0.07em;
    width: 50%;
}
