@media screen and (max-width: 480px) {

    .cont-Skills, .cont-hobbies{
        height: fit-content;
        padding-bottom: 50px;
    
    }

    .fila-uno{
        display: flex;
        justify-content: center;
        margin: 40px 20px 20px 20px;;
        flex-wrap: wrap;
    }
    
    .fila-dos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px 20px 20px 20px;

    }
    
}